@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello World!</h1>
        <p>@ViewBag.Greeting </p>
        <p>@ViewBag.Date</p>
</div>
</body>
</html>
